.hockey-card__wrapper {
  position: relative;
  background: #222;
  color: white;

  border-radius: 1rem;
  border: 1px solid #222;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

  .hockey-card__image {
    max-width: 504px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .hockey-card__captainStatus,
  .hockey-card__leftCornerBadge {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .hockey-card__primaryNumber,
  .hockey-card__rightCornerBadge {
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .hockey-card__captainStatus,
  .hockey-card__leftCornerBadge,
  .hockey-card__primaryNumber,
  .hockey-card__rightCornerBadge {
    padding: 0.5rem 1rem;
    text-align: center;
    color: #333;
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: bold;
    text-shadow: 2px 2px #c09a20;
    background: #ffc300;
    border-bottom: 1px solid #c09a20;
    border-right: 1px solid #c09a20;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  }

  .hockey-card__fullName,
  .hockey-card__title {
    color: #ffc300;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
      margin: 0 0.5rem;
    }

    img {
      margin-top: 5px;
      height: 3rem;
    }
  }

  .hockey-card__position,
  .hockey-card__subTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .hockey-card__details {
    position: relative;
    padding: 1rem;
    text-align: center;
  }

  .hockey-card__detailTable {
    margin: 0 5rem;
    text-align: left;
    border-spacing: 2rem 3px;
    border-collapse: separate;

    td:first-of-type {
      font-weight: bold;
    }
  }

  &.small {
    .hockey-card__captainStatus,
    .hockey-card__leftCornerBadge,
    .hockey-card__primaryNumber,
    .hockey-card__rightCornerBadge {
      font-size: 1.5rem;
      line-height: 1.6rem;
      padding: 0.5rem;
      min-width: 2rem;
    }

    .hockey-card__fullName,
    .hockey-card__title {
      font-size: 1rem;

      padding: 0.5rem 0;
    }

    .hockey-card__position,
    .hockey-card__subTitle {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
}
