.exercise-4__listWrapper {
  width: 100%;
  overflow-y: auto;

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 2rem;
    width: 80%;
    > * {
      margin: 1rem 0;
    }
  }
}

input {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem;
}
