.todo-item {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;

  .todo-item-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-item-checkbox {
    margin: 0 0.8rem 0 0;
  }

  .todo-item-remove {
    margin-left: 0.8rem;
  }
}
