.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > * {
    min-height: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  nav ul {
    display: flex;
    list-style: none;
    > * {
      margin: 1rem;
    }

    a {
      color: lightgreen;
    }

    a:visited {
      color: green;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 100%;
}
